<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
    <h5 class="card-header"><strong>About Me</strong>  </h5>
    <div class="card-body">
        <p class="card-text"> I am Vikrant Kulkarni and you can find me on LinkedIn &#128512;
            <br>
            <strong>Click below&darr;</strong></p>
        <a href="https://www.linkedin.com/in/vikrant-kulkarni-0010ba19b/"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}

</body>
</html>